## I. Dataset Cleaning

In [ ]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
from math import radians, sin, cos, asin, sqrt

In [ ]:
# Main dataframe
df = pd.read_csv('data/amazon_delivery.csv')

In [ ]:
# Set Order ID as df index
df.set_index('Order_ID', inplace = True)

In [ ]:
df.head()

,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
Order_ID,,,,,,,,,,,,,,,
ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys

In [ ]:
df.isna().sum()

df[df['Agent_Rating'] == None]

Agent_Age           0
Agent_Rating       54
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather            91
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
dtype: int64

In [ ]:
# Dataframe for Order ID's coordinates (Pickup & Dropoff)
df_coords = df[['Store_Latitude', 'Store_Longitude', 'Drop_Latitude', 'Drop_Longitude']].copy()

# Creating a column for Haversine Distance 
df_coords.insert(len(df_coords.columns), 'Distance', None)
df_coords.head()

# Haversine function
#def haversine(lat1, lon1, lat2, lon2):

,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Distance
Order_ID,,,,,
ialx566343618,22.745049,75.892471,22.765049,75.912471,None
akqg208421122,12.913041,77.683237,13.043041,77.813237,None
njpu434582536,12.914264,77.678400,12.924264,77.688400,None
rjto796129700,11.003669,76.976494,11.053669,77.026494,None
zguw716275638,12.972793,80.249982,13.012793,80.289982,None