## Dataset Preparation

In [85]:
import pandas as pd
import matplotlib.pyplot as plt
from math import radians, cos, sin, sqrt, asin

df = pd.read_csv("data/amazon_delivery.csv")

df

,Order_ID,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
0,ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
1,akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
2,njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
3,rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
4,zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43734,jlxf819993117,30,4.8,26.902328,75.794257,26.912328,75.804257,2022-03-24,11:35:00,11:45:00,Windy,High,motorcycle,Metropolitian,160,Home
43735,aevx342135787,21,4.6,0.000000,0.000000,0.070000,0.070000,2022-02-16,19:55:00,20:10:00,Windy,Jam,motorcycle,Metropolitian,180,Jewelry
43736,xnek760674819,30,4.9,13.022394,80.242439,13.052394,80.272439,2022-03-11,23:50:00,00:05:00,Cloudy,Low,scooter,Metropolitian,80,Home
43737,cynl434665991,20,4.7,11.001753,76.986241,11.041753,77.026241,2022-03-07,13:35:00,13:40:00,Cloudy,High,motorcycle,Metropolitian,130,Kitchen
43738,nsyz997960170,23,4.9,23.351058,85.325731,23.431058,85.405731,2022-03-02,17:10:00,17:15:00,Fog,Medium,scooter,Metropolitian,180,Cosmetics

In [86]:
print(df.info())
# 43,739 total entries

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43739 entries, 0 to 43738
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order_ID         43739 non-null  object
 1   Agent_Age        43739 non-null  int64
 2   Agent_Rating     43685 non-null  float64
 3   Store_Latitude   43739 non-null  float64
 4   Store_Longitude  43739 non-null  float64
 5   Drop_Latitude    43739 non-null  float64
 6   Drop_Longitude   43739 non-null  float64
 7   Order_Date       43739 non-null  object
 8   Order_Time       43739 non-null  object
 9   Pickup_Time      43739 non-null  object
 10  Weather          43648 non-null  object
 11  Traffic          43739 non-null  object
 12  Vehicle          43739 non-null  object
 13  Area             43739 non-null  object
 14  Delivery_Time    43739 non-null  int64
 15  Category         43739 non-null  object
dtypes: float64(5), int64(2), object(9)
memory usage: 5.3+ MB
None

In [87]:
print(df.shape)
df.isnull().sum()

# NaN values found in Agent_Rating and Weather

(43739, 16)

Order_ID            0
Agent_Age           0
Agent_Rating       54
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather            91
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
dtype: int64

In [88]:
# Imputation: replacing NaN Weather values with the mode "Fog"

print(df['Weather'].mode())

replacement = {"Weather": 'Fog'}
df.fillna(value = replacement, inplace = True)
df.isnull().sum()

0    Fog
Name: Weather, dtype: object

Order_ID            0
Agent_Age           0
Agent_Rating       54
Store_Latitude      0
Store_Longitude     0
Drop_Latitude       0
Drop_Longitude      0
Order_Date          0
Order_Time          0
Pickup_Time         0
Weather             0
Traffic             0
Vehicle             0
Area                0
Delivery_Time       0
Category            0
dtype: int64

In [94]:
# Dropping remaining NaN values from Agent_Rating and setting it to a new dataframe

df_upd = df.dropna().copy().set_index('Order_ID')

print(df_upd.describe())
print("\n", df_upd.isna().sum())

          Agent_Age  Agent_Rating  Store_Latitude  Store_Longitude  \
count  43685.000000  43685.000000    43685.000000     43685.000000
mean      29.567861      4.633780       17.214543        70.668593
std        5.814436      0.334716        7.750885        21.459258
min       15.000000      1.000000      -30.902872       -88.366217
25%       25.000000      4.500000       12.933298        73.170283
50%       30.000000      4.700000       18.551440        75.898497
75%       35.000000      4.900000       22.732225        78.045359
max       50.000000      6.000000       30.914057        88.433452

       Drop_Latitude  Drop_Longitude  Delivery_Time
count   43685.000000    43685.000000   43685.000000
mean       17.458164       70.829376     124.907588
std         7.339296       21.136728      51.924227
min         0.010000        0.010000      10.000000
25%        12.985996       73.280000      90.000000
50%        18.633626       76.002574     125.000000
75%        22.785049       78.103162     160.000000
max        31.054057       88.563452     270.000000

 Agent_Age          0
Agent_Rating       0
Store_Latitude     0
Store_Longitude    0
Drop_Latitude      0
Drop_Longitude     0
Order_Date         0
Order_Time         0
Pickup_Time        0
Weather            0
Traffic            0
Vehicle            0
Area               0
Delivery_Time      0
Category           0
dtype: int64

## Identified Targets: 'Delivery_Time and 'Agent_Rating'

In [95]:
df_upd.head()

,Agent_Age,Agent_Rating,Store_Latitude,Store_Longitude,Drop_Latitude,Drop_Longitude,Order_Date,Order_Time,Pickup_Time,Weather,Traffic,Vehicle,Area,Delivery_Time,Category
Order_ID,,,,,,,,,,,,,,,
ialx566343618,37,4.9,22.745049,75.892471,22.765049,75.912471,2022-03-19,11:30:00,11:45:00,Sunny,High,motorcycle,Urban,120,Clothing
akqg208421122,34,4.5,12.913041,77.683237,13.043041,77.813237,2022-03-25,19:45:00,19:50:00,Stormy,Jam,scooter,Metropolitian,165,Electronics
njpu434582536,23,4.4,12.914264,77.678400,12.924264,77.688400,2022-03-19,08:30:00,08:45:00,Sandstorms,Low,motorcycle,Urban,130,Sports
rjto796129700,38,4.7,11.003669,76.976494,11.053669,77.026494,2022-04-05,18:00:00,18:10:00,Sunny,Medium,motorcycle,Metropolitian,105,Cosmetics
zguw716275638,32,4.6,12.972793,80.249982,13.012793,80.289982,2022-03-26,13:30:00,13:45:00,Cloudy,High,scooter,Metropolitian,150,Toys

### Creating a column for the distance between store and drop points

In [ ]:
df_upd['Store-Drop_Distance'] = ''

def haversine_dist(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])

    earth_radius = 6371
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    dist = (2*earth_radius) * asin(sqrt((sin(dlat/2)**2) + (cos(lat1)*cos(lat2)*(sin(dlon/2)**2))))
    return dist


# Setting Store-Drop Distance values
for i in df_upd.index:
    store = df_upd.loc[i, ['Store_Latitude', 'Store_Longitude']]
    drop = df_upd.loc[i, ['Drop_Latitude', 'Drop_Longitude']]

    df_upd.loc[i, 'Store-Drop_Distance'] = haversine_dist(store.iloc[0], store.iloc[1], drop.iloc[0], drop.iloc[1])